<header>
	<div class="header">
	  <a class="logo" href="/">
		 <img src="../assets/img/logo-mini.png" alt="">
	  </a>
	  <!-- <button class="nav-toggle">
		 <fa-icon [icon]="faBars"></fa-icon>
	  </button> -->
	  <ul>
		 <button class="nav-button">
			<li>
			  <a href="./hamburguesas">
				 Hamburguesa
			  </a>
			</li>
		 </button>
		 <button class="nav-button">
			<li>
			  <a href="./perritos">
				 Perrito
			  </a>
			</li>
		 </button>
		 <button class="nav-button">
			<li>
			  <a href="./alitas">
				 Alitas
			  </a>
			</li>
		 </button>
		 <button class="nav-button">
			<li>
			  <a href="./papa">
				 Papas
			  </a>
			</li>
		 </button>
	  </ul>
	  <!-- <button class="dark-toggle">
		 <fa-icon [icon]="faMoon"></fa-icon>
	  </button>
	  <button class="dark-toggle-2">
		 <fa-icon [icon]="faSun"></fa-icon>
	  </button> -->
	</div>
 </header>
 
 <main>
	<section>
	  <h2 style="display:flex; justify-content: center; margin-top: 30px; color: white">Productos estrellas</h2>
	  <app-carousel></app-carousel>
	</section>
 
	<section id="encuentranos">
		 <div style="color: white; margin-top: 30px" class="container-direccion">
			 <h2>¿Dónde estamos ubicados?</h2>
			 <!-- <div class="map" id="map"></div>
			 <script src="./js/map.js"></script>
			 <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDaeWicvigtP9xPv919E-RNoxfvC-Hqik&callback=iniciarMap"></script> -->
 
		 <h3>Cartagena, Barrio Recreo</h3>
		 <p>Teléfono: XXX-XXX-XXXX</p>
		 <p>Redes sociales, Instagram: </p>
		 <a style="color: white; font-weight: 700; margin: 0 auto;" target="_blank" href="https://www.instagram.com/heavyrusticfood/"><p>@heavyrusticfood</p></a>
	  </div>
	 </section>
 </main>
 